#result_list td, #result_list th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 0.95rem;
}

#result_list {
    font-size: 12px;
}

#result_list th,
#result_list td {
    padding: 4px 8px;
    white-space: nowrap;
}

.results {
    overflow-x: auto;
    max-width: 100%;
}